<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo automation test">
    <test name="All tests">
        <classes>
            <class name="lt.jolita.pom.tests.selenium_easy.BasicFormTest"/>
            <class name="lt.jolita.pom.tests.selenium_easy.BaseCheckboxTest"/>
            <class name="lt.jolita.pom.tests.selenium_easy.BasicRadiobuttonTest"/>
        </classes>
    </test>
</suite>